## Numpy

Импортировать NumPy под именем np

In [2]:
import numpy as np

Создать вектор (одномерный массив) размера 10, заполненный нулями

In [5]:
a = np.zeros(10)
print(a)

[0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]

Создать вектор размера 10, заполненный единицами

In [7]:
a1 = np.ones(10)
print(a1)

[1. 1. 1. 1. 1. 1. 1. 1. 1. 1.]

Создать вектор размера 10, заполненный числом 2.5

In [8]:
a10 = np.linspace(2.5,2.5,10)
print(a10)

[2.5 2.5 2.5 2.5 2.5 2.5 2.5 2.5 2.5 2.5]

Создать вектор размера 10, заполненный нулями, но пятый элемент равен 1

In [11]:
a05 = np.eye(10)[4]
#a05[5] = 1
print(a05)

[0. 0. 0. 0. 1. 0. 0. 0. 0. 0.]

Развернуть вектор (первый становится последним)

In [4]:
v = np.arange(0,10)
print(v)
v = v[::-1]
print(v)

[0 1 2 3 4 5 6 7 8 9]
[9 8 7 6 5 4 3 2 1 0]

Создать матрицу (двумерный массив) 3x3 со значениями от 0 до 8

In [6]:
v = np.arange(9).reshape(3,3)
print(v)

[[0 1 2]
 [3 4 5]
 [6 7 8]]

Найти индексы ненулевых элементов в [1,2,0,0,4,0]

In [7]:
v = np.nonzero([1,2,0,0,4,0])
print(v)

(array([0, 1, 4], dtype=int64),)

Создать 3x3 единичную матрицу

In [10]:
v = np.eye(3)
print(v)

[[1. 0. 0.]
 [0. 1. 0.]
 [0. 0. 1.]]

Создать массив 3x3x3 со случайными значениями

In [12]:
v = np.random.random((3,3,3))
print(v)

[[[0.73361722 0.8842101  0.2997094 ]
  [0.53230829 0.13475055 0.94240025]
  [0.55141412 0.98207978 0.98423266]]

 [[0.45221613 0.04748577 0.21609297]
  [0.47128575 0.54055084 0.55908798]
  [0.84488316 0.13688607 0.1027442 ]]

 [[0.13851217 0.66501126 0.30273254]
  [0.39428739 0.68761085 0.27926345]
  [0.27473386 0.07582266 0.95056775]]]

Создать случайный вектор размера 30 и найти среднее значение всех элементов

In [14]:
v = np.random.random(30)
print(v.mean())

0.5135063400905895

Перемножить матрицы 5x3 и 3x2

In [19]:
v = np.dot(np.ones((5,3)), np.ones((3,2)))
print(v)

[[3. 3.]
 [3. 3.]
 [3. 3.]
 [3. 3.]
 [3. 3.]]

Создать вектор размера 10 со значениями от 0 до 1, не включая ни то, ни другое

In [21]:
v = np.linspace(0,1,12)[1:-1]
print(v)

[0.09090909 0.18181818 0.27272727 0.36363636 0.45454545 0.54545455
 0.63636364 0.72727273 0.81818182 0.90909091]

Заменить максимальный элемент на ноль

In [23]:
v = np.random.random(10)
print(v)
v[v.argmax()] = 0
print(v)

[0.29038805 0.88600662 0.69319607 0.38129797 0.7216463  0.25215197
 0.66976807 0.0323489  0.88826831 0.76143891]
[0.29038805 0.88600662 0.69319607 0.38129797 0.7216463  0.25215197
 0.66976807 0.0323489  0.         0.76143891]

Преобразовать массив из float в int

In [25]:
v = np.arange(10, dtype=np.float32)
print(v)
v = v.astype(np.int32, copy=False)
print(v)

[0. 1. 2. 3. 4. 5. 6. 7. 8. 9.]
[0 1 2 3 4 5 6 7 8 9]

Дан массив (10,2) координат, найти расстояние от каждой точки до каждой

In [32]:
import scipy.spatial

v = np.random.random((10,2))
print(v)

print(scipy.spatial.distance.cdist(v,v))

[[0.24199872 0.10255388]
 [0.56744313 0.56811092]
 [0.61481952 0.52119905]
 [0.39594122 0.81917585]
 [0.32259547 0.36882779]
 [0.14088156 0.37106676]
 [0.38041716 0.85302076]
 [0.11071752 0.00135169]
 [0.79774228 0.82711845]
 [0.45557141 0.02129425]]
[[0.         0.56802942 0.56058819 0.73297021 0.27820429 0.28692131
  0.76312529 0.16576078 0.91315098 0.22850913]
 [0.56802942 0.         0.06667267 0.30405017 0.31569629 0.46987357
  0.34081129 0.72788344 0.34658707 0.55814313]
 [0.56058819 0.06667267 0.         0.36972677 0.32956319 0.49714876
  0.40626361 0.72412713 0.35643712 0.52465681]
 [0.73297021 0.30405017 0.36972677 0.         0.45628168 0.51561341
  0.0372354  0.86613446 0.40187956 0.80010674]
 [0.27820429 0.31569629 0.32956319 0.45628168 0.         0.1817277
  0.48763325 0.42418268 0.66014758 0.37210504]
 [0.28692131 0.46987357 0.49714876 0.51561341 0.1817277  0.
  0.53819789 0.37094353 0.79965565 0.47050027]
 [0.76312529 0.34081129 0.40626361 0.0372354  0.48763325 0.53819789
  0.         0.89335217 0.4181282  0.83511505]
 [0.16576078 0.72788344 0.72412713 0.86613446 0.42418268 0.37094353
  0.89335217 0.         1.07419447 0.34543003]
 [0.91315098 0.34658707 0.35643712 0.40187956 0.66014758 0.79965565
  0.4181282  1.07419447 0.         0.8754619 ]
 [0.22850913 0.55814313 0.52465681 0.80010674 0.37210504 0.47050027
  0.83511505 0.34543003 0.8754619  0.        ]]

Случайно расположить p элементов в 2D массив

In [35]:
n = 10
p = 3
Z = np.zeros((n,n))
print(Z)
np.put(Z, np.random.choice(range(n*n), p, replace=False), 1)
print(Z)

[[0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]]
[[0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]
 [1. 0. 0. 0. 0. 0. 0. 0. 0. 1.]
 [0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 1. 0. 0. 0. 0.]]

Дан вектор [1, 2, 3, 4, 5], построить новый вектор с тремя нулями между каждым значением

In [6]:
v = np.array([1, 2, 3, 4, 5])
print(v)

n = 3

z = np.zeros(len(v) + (len(v)-1)*(n))
z[::n+1] = v
print(z)

[1 2 3 4 5]
[1. 0. 0. 0. 2. 0. 0. 0. 3. 0. 0. 0. 4. 0. 0. 0. 5.]

Найти наиболее частое значение в массиве

In [9]:
v = np.random.randint(0,10,50)
print(v)
print(np.bincount(v).argmax())

[3 4 1 5 6 2 9 8 9 7 8 3 9 9 8 3 4 0 2 2 6 5 2 6 5 0 0 8 7 4 4 3 8 5 8 8 7
 6 4 1 8 0 3 2 2 0 8 7 2 2]
8

Найти n наибольших значений в массиве

In [10]:
v = np.arange(10000)
print(v)
np.random.shuffle(v)
print(v)
n = 5

print (v[np.argpartition(-v,n)[:n]])

[   0    1    2 ... 9997 9998 9999]
[3699 9205 4267 ... 7945 7357 6489]
[9997 9999 9996 9998 9995]

## Pandas - изучение данных

Перейти по ссылке [Kaggle]( https://www.kaggle.com/openfoodfacts/world-food-facts)

Скачать датасет на свой компьютер и распаковать

Считать csv файл в датафрейм food

In [2]:
import pandas as pd

#food = pd.read_csv('D:\en.openfoodfacts.org.products.csv',sep='\t', engine='python')
food = pd.read_table('D:\en.openfoodfacts.org.products.tsv', low_memory=False)

Посмотреть первые 5 записей

In [20]:
print(food[:5])

            code                                                url  \
0  0000000003087  http://world-en.openfoodfacts.org/product/0000...
1  0000000004530  http://world-en.openfoodfacts.org/product/0000...
2  0000000004559  http://world-en.openfoodfacts.org/product/0000...
3  0000000016087  http://world-en.openfoodfacts.org/product/0000...
4  0000000016094  http://world-en.openfoodfacts.org/product/0000...

                      creator   created_t      created_datetime  \
0  openfoodfacts-contributors  1474103866  2016-09-17T09:17:46Z
1             usda-ndb-import  1489069957  2017-03-09T14:32:37Z
2             usda-ndb-import  1489069957  2017-03-09T14:32:37Z
3             usda-ndb-import  1489055731  2017-03-09T10:35:31Z
4             usda-ndb-import  1489055653  2017-03-09T10:34:13Z

  last_modified_t last_modified_datetime                    product_name  \
0      1474103893   2016-09-17T09:18:13Z              Farine de blé noir
1      1489069957   2017-03-09T14:32:37Z  Banana Chips Sweetened (Whole)
2      1489069957   2017-03-09T14:32:37Z                         Peanuts
3      1489055731   2017-03-09T10:35:31Z          Organic Salted Nut Mix
4      1489055653   2017-03-09T10:34:13Z                 Organic Polenta

  generic_name quantity         ...         fruits-vegetables-nuts_100g  \
0          NaN      1kg         ...                                 NaN
1          NaN      NaN         ...                                 NaN
2          NaN      NaN         ...                                 NaN
3          NaN      NaN         ...                                 NaN
4          NaN      NaN         ...                                 NaN

  fruits-vegetables-nuts-estimate_100g collagen-meat-protein-ratio_100g  \
0                                  NaN                              NaN
1                                  NaN                              NaN
2                                  NaN                              NaN
3                                  NaN                              NaN
4                                  NaN                              NaN

  cocoa_100g chlorophyl_100g carbon-footprint_100g nutrition-score-fr_100g  \
0        NaN             NaN                   NaN                     NaN
1        NaN             NaN                   NaN                    14.0
2        NaN             NaN                   NaN                     0.0
3        NaN             NaN                   NaN                    12.0
4        NaN             NaN                   NaN                     NaN

  nutrition-score-uk_100g glycemic-index_100g water-hardness_100g
0                     NaN                 NaN                 NaN
1                    14.0                 NaN                 NaN
2                     0.0                 NaN                 NaN
3                    12.0                 NaN                 NaN
4                     NaN                 NaN                 NaN

[5 rows x 163 columns]

Сколько наблюдений в наборе данных?

In [22]:
print(food['code'].count())

356001

Сколько столбцов в наборе данных?

In [23]:
print(len(food.columns))

163

Напечатайте все названия столбцов

In [24]:
print(food.columns)

Index(['code', 'url', 'creator', 'created_t', 'created_datetime',
       'last_modified_t', 'last_modified_datetime', 'product_name',
       'generic_name', 'quantity',
       ...
       'fruits-vegetables-nuts_100g', 'fruits-vegetables-nuts-estimate_100g',
       'collagen-meat-protein-ratio_100g', 'cocoa_100g', 'chlorophyl_100g',
       'carbon-footprint_100g', 'nutrition-score-fr_100g',
       'nutrition-score-uk_100g', 'glycemic-index_100g',
       'water-hardness_100g'],
      dtype='object', length=163)

Какое название у 105 столбца?

In [25]:
print(food.columns[105])

-fructose_100g

Какой тип наблюдений в 105 столбце?

In [12]:
type(food.columns[105])

str

Как проиндексирован набор данных?

In [13]:
print(food.index)

RangeIndex(start=0, stop=356027, step=1)

Каково значение имени продукта в 19-м наблюдении?

In [11]:
print(food['product_name'][18])

Lotus Organic Brown Jasmine Rice

## Pandas - фильтрация данных

Считать данные по  [адресу](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv). 
Присвоить переменной chipo

In [14]:
import pandas as pd

chipo = pd.read_table('D:\chipotle.tsv', low_memory=False)

Как много продуктов стоят более чем $10.00?

In [40]:
print(chipo[chipo['item_price'].str.replace('$','').astype('float64') >10])

      order_id  quantity           item_name  \
4            2         2        Chicken Bowl
5            3         1        Chicken Bowl
7            4         1       Steak Burrito
13           7         1        Chicken Bowl
23          12         1     Chicken Burrito
39          19         1       Barbacoa Bowl
42          20         1        Chicken Bowl
43          20         1       Steak Burrito
45          21         1     Chicken Burrito
52          24         1     Chicken Burrito
57          26         1      Veggie Burrito
58          27         1       Barbacoa Bowl
62          28         1         Veggie Bowl
68          30         1     Chicken Burrito
79          35         1  Chicken Soft Tacos
90          40         1          Steak Bowl
91          40         1          Steak Bowl
93          41         1    Carnitas Burrito
97          43         1       Carnitas Bowl
123         54         1        Chicken Bowl
130         57         1    Barbacoa Burrito
134         59         1     Chicken Burrito
135         60         2  Chicken Salad Bowl
136         61         1       Barbacoa Bowl
138         62         1        Chicken Bowl
140         63         1        Chicken Bowl
142         64         1        Chicken Bowl
143         64         1         Veggie Bowl
144         65         1    Barbacoa Burrito
147         66         1       Steak Burrito
...        ...       ...                 ...
4504      1791         1       Carnitas Bowl
4506      1792         1        Chicken Bowl
4510      1793         1       Barbacoa Bowl
4518      1796         1          Steak Bowl
4521      1798         1     Chicken Burrito
4523      1798         1  Steak Crispy Tacos
4533      1802         1     Chicken Burrito
4540      1805         1        Chicken Bowl
4553      1810         1        Chicken Bowl
4554      1810         1  Steak Crispy Tacos
4556      1811         1     Chicken Burrito
4559      1812         1     Chicken Burrito
4561      1813         2  Chicken Salad Bowl
4564      1815         1        Chicken Bowl
4576      1820         1        Chicken Bowl
4580      1822         1  Chicken Salad Bowl
4586      1824         1        Chicken Bowl
4587      1824         1        Chicken Bowl
4589      1825         1        Chicken Bowl
4590      1825         1        Chicken Bowl
4592      1825         1    Barbacoa Burrito
4593      1825         1       Carnitas Bowl
4594      1825         1       Barbacoa Bowl
4607      1829         1       Steak Burrito
4608      1829         1      Veggie Burrito
4610      1830         1       Steak Burrito
4611      1830         1      Veggie Burrito
4617      1833         1       Steak Burrito
4618      1833         1       Steak Burrito
4619      1834         1  Chicken Salad Bowl

                                     choice_description item_price
4     [Tomatillo-Red Chili Salsa (Hot), [Black Beans...    $16.98
5     [Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...    $10.98
7     [Tomatillo Red Chili Salsa, [Fajita Vegetables...    $11.75
13    [Fresh Tomato Salsa, [Fajita Vegetables, Rice,...    $11.25
23    [[Tomatillo-Green Chili Salsa (Medium), Tomati...    $10.98
39    [Roasted Chili Corn Salsa, [Fajita Vegetables,...    $11.75
42    [Roasted Chili Corn Salsa, [Rice, Black Beans,...    $11.25
43    [Fresh Tomato Salsa, [Rice, Pinto Beans, Chees...    $11.75
45    [Tomatillo-Red Chili Salsa (Hot), [Black Beans...    $10.98
52    [Roasted Chili Corn Salsa (Medium), [Black Bea...    $10.98
57    [Tomatillo Red Chili Salsa, [Fajita Vegetables...    $11.25
58    [Roasted Chili Corn Salsa, [Fajita Vegetables,...    $11.75
62    [Fresh Tomato Salsa, [Fajita Vegetables, Rice,...    $11.25
68    [Tomatillo-Red Chili Salsa (Hot), [Black Beans...    $10.98
79    [Roasted Chili Corn Salsa, [Rice, Cheese, Lett...    $11.25
90    [Fresh Tomato Salsa, [Rice, Black Beans, Chees...    $11.75
91    [Fresh Tomato Salsa, [Fajita Vegetables, Chees...    $11.75
93    [Roasted Chili Corn Salsa, [Sour Cream, Guacam...    $11.75
97    [Fresh Tomato Salsa, [Fajita Vegetables, Rice,...    $11.75
123   [Fresh Tomato Salsa, [Guacamole, Cheese, Sour ...    $11.25
130   [Roasted Chili Corn Salsa, [Rice, Pinto Beans,...    $11.75
134   [Roasted Chili Corn Salsa (Medium), [Rice, Bla...    $10.98
135   [Tomatillo Green Chili Salsa, [Sour Cream, Che...    $22.50
136   [Tomatillo Red Chili Salsa, [Fajita Vegetables...    $11.75
138   [Fresh Tomato Salsa, [Rice, Fajita Vegetables,...    $11.25
140   [Tomatillo Green Chili Salsa, [Rice, Sour Crea...    $11.25
142   [Fresh Tomato Salsa, [Fajita Vegetables, Rice,...    $11.25
143   [Tomatillo Red Chili Salsa, [Fajita Vegetables...    $11.25
144   [Tomatillo Red Chili Salsa, [Rice, Sour Cream,...    $11.75
147   [Tomatillo-Green Chili Salsa (Medium), [Rice, ...    $11.48
...                                                 ...        ...
4504  [Fresh Tomato Salsa, [Rice, Sour Cream, Guacam...    $11.75
4506  [Fresh Tomato Salsa, [Rice, Cheese, Sour Cream...    $11.25
4510                                        [Guacamole]    $11.49
4518  [Tomatillo Red Chili Salsa, [Rice, Black Beans...    $11.75
4521  [Roasted Chili Corn Salsa, [Guacamole, Lettuce...    $11.25
4523  [Tomatillo Green Chili Salsa, [Cheese, Sour Cr...    $11.75
4533  [Tomatillo Red Chili Salsa, [Fajita Vegetables...    $11.25
4540  [Tomatillo Green Chili Salsa, [Fajita Vegetabl...    $11.25
4553  [Roasted Chili Corn Salsa, [Black Beans, Sour ...    $11.25
4554  [Roasted Chili Corn Salsa, [Fajita Vegetables,...    $11.75
4556  [Tomatillo Green Chili Salsa, [Fajita Vegetabl...    $11.25
4559  [Tomatillo Red Chili Salsa, [Rice, Cheese, Gua...    $11.25
4561  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...    $17.50
4564  [Fresh Tomato Salsa, [Fajita Vegetables, Rice,...    $11.25
4576  [Fresh Tomato Salsa, [Rice, Cheese, Sour Cream...    $11.25
4580  [Fresh Tomato Salsa, [Black Beans, Cheese, Gua...    $11.25
4586  [Fresh Tomato Salsa, [Rice, Black Beans, Chees...    $11.25
4587  [Fresh Tomato Salsa, [Rice, Black Beans, Chees...    $11.25
4589  [Fresh Tomato Salsa, [Rice, Black Beans, Sour ...    $11.25
4590  [Roasted Chili Corn Salsa, [Rice, Black Beans,...    $11.25
4592  [Tomatillo Red Chili Salsa, [Rice, Fajita Vege...    $11.75
4593  [Roasted Chili Corn Salsa, [Rice, Sour Cream, ...    $11.75
4594  [Roasted Chili Corn Salsa, [Pinto Beans, Sour ...    $11.75
4607  [Tomatillo Green Chili Salsa, [Rice, Cheese, S...    $11.75
4608  [Tomatillo Red Chili Salsa, [Fajita Vegetables...    $11.25
4610  [Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...    $11.75
4611  [Tomatillo Green Chili Salsa, [Rice, Fajita Ve...    $11.25
4617  [Fresh Tomato Salsa, [Rice, Black Beans, Sour ...    $11.75
4618  [Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...    $11.75
4619  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...    $11.25

[1130 rows x 5 columns]

Какова цена каждого предмета? Напечатать столбцы item_name и item_price

In [46]:
print(chipo[['item_name','item_price']])

                                  item_name item_price
0              Chips and Fresh Tomato Salsa     $2.39
1                                      Izze     $3.39
2                          Nantucket Nectar     $3.39
3     Chips and Tomatillo-Green Chili Salsa     $2.39
4                              Chicken Bowl    $16.98
5                              Chicken Bowl    $10.98
6                             Side of Chips     $1.69
7                             Steak Burrito    $11.75
8                          Steak Soft Tacos     $9.25
9                             Steak Burrito     $9.25
10                      Chips and Guacamole     $4.45
11                     Chicken Crispy Tacos     $8.75
12                       Chicken Soft Tacos     $8.75
13                             Chicken Bowl    $11.25
14                      Chips and Guacamole     $4.45
15    Chips and Tomatillo-Green Chili Salsa     $2.39
16                          Chicken Burrito     $8.49
17                          Chicken Burrito     $8.49
18                              Canned Soda     $2.18
19                             Chicken Bowl     $8.75
20                      Chips and Guacamole     $4.45
21                         Barbacoa Burrito     $8.99
22                         Nantucket Nectar     $3.39
23                          Chicken Burrito    $10.98
24                                     Izze     $3.39
25             Chips and Fresh Tomato Salsa     $2.39
26                             Chicken Bowl     $8.49
27                         Carnitas Burrito     $8.99
28                              Canned Soda     $1.09
29                          Chicken Burrito     $8.49
...                                     ...        ...
4592                       Barbacoa Burrito    $11.75
4593                          Carnitas Bowl    $11.75
4594                          Barbacoa Bowl    $11.75
4595                           Chicken Bowl     $8.75
4596                    Chips and Guacamole     $4.45
4597                      Canned Soft Drink     $1.25
4598                          Bottled Water     $1.50
4599                           Chicken Bowl     $8.75
4600                    Chips and Guacamole     $4.45
4601                      Canned Soft Drink     $1.25
4602                       Barbacoa Burrito     $9.25
4603                       Barbacoa Burrito     $9.25
4604                           Chicken Bowl     $8.75
4605                    Chips and Guacamole     $4.45
4606                      Canned Soft Drink     $1.25
4607                          Steak Burrito    $11.75
4608                         Veggie Burrito    $11.25
4609                      Canned Soft Drink     $1.25
4610                          Steak Burrito    $11.75
4611                         Veggie Burrito    $11.25
4612                          Carnitas Bowl     $9.25
4613                                  Chips     $2.15
4614                          Bottled Water     $1.50
4615                     Chicken Soft Tacos     $8.75
4616                    Chips and Guacamole     $4.45
4617                          Steak Burrito    $11.75
4618                          Steak Burrito    $11.75
4619                     Chicken Salad Bowl    $11.25
4620                     Chicken Salad Bowl     $8.75
4621                     Chicken Salad Bowl     $8.75

[4622 rows x 2 columns]

Отсортировать по имени предмета

In [57]:
print(chipo.sort_values(by=['item_name'], ascending=False))

      order_id  quantity          item_name  \
3889      1559         2  Veggie Soft Tacos
2851      1132         1  Veggie Soft Tacos
738        304         1  Veggie Soft Tacos
1395       567         1  Veggie Soft Tacos
2384       948         1  Veggie Soft Tacos
1699       688         1  Veggie Soft Tacos
781        322         1  Veggie Soft Tacos
4573      1818         1  Veggie Salad Bowl
455        195         1  Veggie Salad Bowl
496        207         1  Veggie Salad Bowl
2156       869         1  Veggie Salad Bowl
2683      1066         1  Veggie Salad Bowl
3293      1321         1  Veggie Salad Bowl
295        128         1  Veggie Salad Bowl
4109      1646         1  Veggie Salad Bowl
2269       913         1  Veggie Salad Bowl
1316       536         1  Veggie Salad Bowl
2223       896         1  Veggie Salad Bowl
4541      1805         1  Veggie Salad Bowl
3223      1289         1  Veggie Salad Bowl
4261      1700         1  Veggie Salad Bowl
960        394         1  Veggie Salad Bowl
1884       760         1  Veggie Salad Bowl
4201      1677         1  Veggie Salad Bowl
186         83         1  Veggie Salad Bowl
2756      1094         1       Veggie Salad
1694       686         1       Veggie Salad
3471      1395         1       Veggie Salad
3163      1263         1       Veggie Salad
2996      1192         1       Veggie Salad
...        ...       ...                ...
1976       798         1  6 Pack Soft Drink
4522      1798         1  6 Pack Soft Drink
3010      1196         1  6 Pack Soft Drink
4535      1803         1  6 Pack Soft Drink
2713      1076         1  6 Pack Soft Drink
2374       945         1  6 Pack Soft Drink
298        129         1  6 Pack Soft Drink
3600      1443         1  6 Pack Soft Drink
1026       422         1  6 Pack Soft Drink
2108       849         1  6 Pack Soft Drink
1279       520         1  6 Pack Soft Drink
2793      1109         1  6 Pack Soft Drink
1051       432         1  6 Pack Soft Drink
3633      1454         1  6 Pack Soft Drink
553        230         1  6 Pack Soft Drink
3422      1373         1  6 Pack Soft Drink
879        363         1  6 Pack Soft Drink
1937       784         1  6 Pack Soft Drink
3693      1480         1  6 Pack Soft Drink
2389       949         1  6 Pack Soft Drink
4169      1664         1  6 Pack Soft Drink
4174      1666         1  6 Pack Soft Drink
3766      1508         1  6 Pack Soft Drink
1260       511         1  6 Pack Soft Drink
341        148         1  6 Pack Soft Drink
1916       774         1  6 Pack Soft Drink
1124       465         1  6 Pack Soft Drink
3789      1517         1  6 Pack Soft Drink
1392       566         1  6 Pack Soft Drink
3614      1448         1  6 Pack Soft Drink

                                     choice_description item_price
3889  [Fresh Tomato Salsa (Mild), [Black Beans, Rice...    $16.98
2851  [Roasted Chili Corn Salsa (Medium), [Black Bea...     $8.49
738   [Tomatillo Red Chili Salsa, [Fajita Vegetables...    $11.25
1395  [Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...     $8.49
2384  [Roasted Chili Corn Salsa, [Fajita Vegetables,...     $8.75
1699  [Fresh Tomato Salsa, [Fajita Vegetables, Rice,...    $11.25
781   [Fresh Tomato Salsa, [Black Beans, Cheese, Sou...     $8.75
4573  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...     $8.75
455   [Fresh Tomato Salsa, [Fajita Vegetables, Rice,...    $11.25
496   [Fresh Tomato Salsa, [Rice, Lettuce, Guacamole...    $11.25
2156  [Tomatillo Red Chili Salsa, [Fajita Vegetables...    $11.25
2683  [Roasted Chili Corn Salsa, [Fajita Vegetables,...     $8.75
3293  [Fresh Tomato Salsa, [Rice, Black Beans, Chees...     $8.75
295   [Fresh Tomato Salsa, [Fajita Vegetables, Lettu...    $11.25
4109  [Tomatillo Red Chili Salsa, [Fajita Vegetables...    $11.25
2269  [Fresh Tomato Salsa, [Fajita Vegetables, Rice,...     $8.75
1316  [Fresh Tomato Salsa, [Fajita Vegetables, Rice,...     $8.75
2223      [Roasted Chili Corn Salsa, Fajita Vegetables]     $8.75
4541  [Tomatillo Green Chili Salsa, [Fajita Vegetabl...     $8.75
3223  [Tomatillo Red Chili Salsa, [Fajita Vegetables...    $11.25
4261  [Fresh Tomato Salsa, [Fajita Vegetables, Rice,...    $11.25
960   [Fresh Tomato Salsa, [Fajita Vegetables, Lettu...     $8.75
1884  [Fresh Tomato Salsa, [Fajita Vegetables, Rice,...    $11.25
4201  [Fresh Tomato Salsa, [Fajita Vegetables, Black...    $11.25
186   [Fresh Tomato Salsa, [Fajita Vegetables, Rice,...    $11.25
2756  [[Tomatillo-Green Chili Salsa (Medium), Roaste...     $8.49
1694  [[Fresh Tomato Salsa (Mild), Roasted Chili Cor...     $8.49
3471  [[Tomatillo-Green Chili Salsa (Medium), Roaste...     $8.49
3163  [[Fresh Tomato Salsa (Mild), Roasted Chili Cor...     $8.49
2996  [Roasted Chili Corn Salsa (Medium), [Black Bea...     $8.49
...                                                 ...        ...
1976                                        [Diet Coke]     $6.49
4522                                        [Diet Coke]     $6.49
3010                                        [Diet Coke]     $6.49
4535                                         [Lemonade]     $6.49
2713                                             [Coke]     $6.49
2374                                           [Sprite]     $6.49
298                                            [Sprite]     $6.49
3600                                             [Coke]     $6.49
1026                                           [Sprite]     $6.49
2108                                             [Coke]     $6.49
1279                                           [Sprite]     $6.49
2793                                        [Diet Coke]     $6.49
1051                                             [Coke]     $6.49
3633                                             [Coke]     $6.49
553                                         [Diet Coke]     $6.49
3422                                             [Coke]     $6.49
879                                              [Coke]     $6.49
1937                                        [Diet Coke]     $6.49
3693                                        [Diet Coke]     $6.49
2389                                             [Coke]     $6.49
4169                                        [Diet Coke]     $6.49
4174                                             [Coke]     $6.49
3766                                             [Coke]     $6.49
1260                                             [Coke]     $6.49
341                                         [Diet Coke]     $6.49
1916                                        [Diet Coke]     $6.49
1124                                             [Coke]     $6.49
3789                                        [Diet Coke]     $6.49
1392                                        [Diet Coke]     $6.49
3614                                           [Nestea]     $6.49

[4622 rows x 5 columns]

Сколько было заказано самого дорогого предмета?

In [59]:
chipo.loc[chipo['item_price'].str.replace('$','').astype('float64').idxmax()]['quantity']

15

Сколько раз был заказан предмет "Veggie Salad Bowl"?

In [66]:
chipo.loc[chipo['item_name'] == 'Veggie Salad Bowl']['order_id'].count()

18

Сколько раз люди заказали более чем 1 предмет "Canned Soda"?

In [71]:
chipo.loc[(chipo['item_name'] == 'Canned Soda') & (chipo['quantity'] > 1)]

      order_id  quantity    item_name choice_description item_price
18           9         2  Canned Soda           [Sprite]     $2.18
51          23         2  Canned Soda     [Mountain Dew]     $2.18
162         73         2  Canned Soda        [Diet Coke]     $2.18
171         76         2  Canned Soda  [Diet Dr. Pepper]     $2.18
350        150         2  Canned Soda        [Diet Coke]     $2.18
352        151         2  Canned Soda        [Coca Cola]     $2.18
698        287         2  Canned Soda        [Coca Cola]     $2.18
700        288         2  Canned Soda        [Coca Cola]     $2.18
909        376         2  Canned Soda     [Mountain Dew]     $2.18
1091       450         2  Canned Soda       [Dr. Pepper]     $2.18
1092       450         2  Canned Soda        [Coca Cola]     $2.18
1944       787         2  Canned Soda       [Dr. Pepper]     $2.18
2135       859         2  Canned Soda        [Diet Coke]     $2.18
2235       901         4  Canned Soda           [Sprite]     $4.36
2905      1156         2  Canned Soda        [Coca Cola]     $2.18
2906      1156         2  Canned Soda           [Sprite]     $2.18
3152      1258         2  Canned Soda       [Dr. Pepper]     $2.18
3364      1349         2  Canned Soda        [Coca Cola]     $2.18
3592      1440         2  Canned Soda        [Diet Coke]     $2.18
3866      1550         2  Canned Soda     [Mountain Dew]     $2.18